In [53]:
import pandas as pd
import numpy as np

In [54]:
Z = pd.read_csv('./sgb-words.csv')
df = pd.DataFrame(Z)

   Index  Words
0      0  which
1      1  there
2      2  their
3      3  about
4      4  would

In [55]:
df['Words'] = df['Words'].astype(str)

   Index  Words
0      0  which
1      1  there
2      2  their
3      3  about
4      4  would

In [57]:
first_word = ''
second_word = ''
third_word = ''
fourth_word = ''
fifth_word = ''
word = ['','','','','']

In [58]:
def input_taker():
    first_word = input('Have you found first word?, press escape if not')
    second_word = input('Have you found second word? press escape if not')
    third_word = input('Have you found third word? press escape if not') 
    fourth_word = input('Have you found fourth word? press escape if not')
    fifth_word = input('Have you found fifth word? press escape if not')    
    return(first_word,second_word,third_word,fourth_word,fifth_word)

In [59]:
a,b,c,d,e = input_taker()

In [60]:
def word_arranger(a,b,c,d,e):
    word[0],word[1],word[2],word[3],word[4] = a,b,c,d,e
    return word

In [61]:
first_letter_array =[]
for i in range(len(df)):
    if(df['Words'][i][0]==a):
        first_letter_array.append(df['Words'][i])

In [62]:
if(len(first_letter_array)==0):
    first_letter_array=df['Words']

In [63]:
second_letter_array =[]
for i in range(len(df)):
    if(df['Words'][i][1]==b):
        second_letter_array.append(df['Words'][i])

In [64]:
if(len(second_letter_array)==0):
    second_letter_array=df['Words']

In [65]:
third_letter_array =[]
for i in range(len(df)):
    if(df['Words'][i][2]==c):
        third_letter_array.append(df['Words'][i])

In [66]:
if(len(third_letter_array)==0):
    third_letter_array=df['Words']

In [67]:
fourth_letter_array =[]
for i in range(len(df)):
    if(df['Words'][i][3]==d):
        fourth_letter_array.append(df['Words'][i])

In [68]:
if(len(fourth_letter_array)==0):
    fourth_letter_array=df['Words']

In [69]:
fifth_letter_array =[]
for i in range(len(df)):
    if(df['Words'][i][4]==e):
        fifth_letter_array.append(df['Words'][i])

In [70]:
if(len(fifth_letter_array)==0):
    fifth_letter_array=df['Words']

In [71]:
final = list(set(first_letter_array) & set(second_letter_array))
intermediate = list(set(fourth_letter_array) & set(third_letter_array))
final = list(set(final) & set(fifth_letter_array))
final= list(set(final) & set(intermediate))

['phone', 'phage', 'phase']

In [ ]:
print('Possible words are:- ',final)